body {
  min-height:       800px;
  min-width:        1024px;
  width: auto       !important;
  overflow:         hidden;
  background-color: grey;
  color:            black;
  font-size:        16px;
  font-family:      sans-serif;
  font:             16px Arial;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently */
}

div, input, select, textarea {
  box-sizing: border-box;
}

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px;
}

input, select {
  border: none;
  border-bottom: 1px solid darkgrey;
}

input:required, select:required {
  border-bottom: 1px solid red;
}

input[readonly] {
  border-bottom: none;
}

select {
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACXBIWXMAAA3XAAAN1wFCKJt4AAABWWlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNS40LjAiPgogICA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPgogICAgICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgICAgICAgICB4bWxuczp0aWZmPSJodHRwOi8vbnMuYWRvYmUuY29tL3RpZmYvMS4wLyI+CiAgICAgICAgIDx0aWZmOk9yaWVudGF0aW9uPjE8L3RpZmY6T3JpZW50YXRpb24+CiAgICAgIDwvcmRmOkRlc2NyaXB0aW9uPgogICA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgpMwidZAAAAe0lEQVQYGWWNQQqAIBBFm6K1eBbpAOomWhQUXiaKgg7mtlNJ81PEaEDm+b7jVFUsSr1s0Sml2mTrIn0ZWS2lHLTWM4fBOdfggNktQogeQ2SMOViMuKCYJ3YbI+XdLE4iuvEghNB57y8wKu/myd1au0b9zfJPRfhzpcj8ABbkF5o44buYAAAAAElFTkSuQmCC') no-repeat 188px 4px;
}

select.valid {
  background-color: white;
}

textare:focus, select:focus, input:focus {
  border-color: green;
}

/*----------------------------------------------------------------------------*/

#copyright {
  position:  absolute;
  right:     0px;
  bottom:    0px;
  padding:   8px;
  font-size: 8px;
  z-index:   1000;
}

#copyright a {
  text-decoration: none;
  color:           #222;
  padding-right:   32px;
}

#copyright a:hover {
  color:           #888;
}

/*----------------------------------------------------------------------------*/

#app {
  position: absolute;
  left:     0px;
  right:    0px;
  top:      0px;
  bottom:   0px;
}

/*----------------------------------------------------------------------------*/

#header {
  position:         absolute;
  left:             0px;
  right:            0px;
  top:              0px;
  line-height:      56px;
  vertical-align:   middle;
  background-color: darkgrey;
  border-bottom:    1px solid grey;
  min-width:        1024px;
  padding-left:     8px;
  font-size:        24px;
}

/*----------------------------------------------------------------------------*/

#context {
  position:         absolute;
  left:             0px;
  line-height:      56px;
  vertical-align:   middle;
  background-color: lightgrey;
  border-right:     1px solid white;
  padding-left:     8px;
  font-size:        24px;
}

/*----------------------------------------------------------------------------*/

#timeline {
  position:         absolute;
  right:            0px;
  line-height:      56px;
  vertical-align:   middle;
  background-color: lightgrey;
  padding-left:     8px;
  font-size:        24px;
}

/*----------------------------------------------------------------------------*/

#sidebar {
  position:         absolute;
  left:             0px;
  bottom:           0px;
  line-height:      56px;
  vertical-align:   middle;
  background-color: white;
  border-right:     1px solid lightgrey;
  padding-left:     8px;
  font-size:        24px;
}

/*----------------------------------------------------------------------------*/

#events {
  position:         absolute;
  right:            0px;
  bottom:           0px;
  line-height:      56px;
  vertical-align:   middle;
  background-color: white;
  padding-left:     8px;
  font-size:        24px;
}

/*----------------------------------------------------------------------------*/
