.instance {
  position:         absolute;
  vertical-align:   middle;
  text-align:       left;
  border-left:      1px solid lightgrey;
  border-bottom:    1px solid lightgrey;
  text-overflow:    ellipsis;
  overflow:         hidden;
  white-space:      nowrap;
}
