.task {
  position:         absolute;
  vertical-align:   middle;
  text-align:       left;
  text-overflow:    ellipsis;
  overflow:         hidden;
  white-space:      nowrap;
  background-color: lightgrey;
}
